<!DOCTYPE html>
<html>
  <head>
    <title>Urania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
          <% if user_signed_in? %>
          </div>
          <% end %>
      </nav>
    </header>
    <!-- ここに追加 -->
  <div class="pink">
    <div class="black">
      <div class="green">
        <div class="yello">
          <div class="aqua">ようこそ</div>
          <div class="bule">トップページです。<div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
  
        </div>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
