<!DOCTYPE html>
<html>
  <head>
    <title>Urania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      </div>
      <nav>
          <% if user_signed_in? %>
          </div>
          <% end %>
      </nav>
    </header>
  <p class="pink"></p>
      <p class="green"></p>
        <p class="yello"></p>
          <div class="blown"></div>
          <div class="aqua">ようこそ</div>
            <div class="white"></div>
          <div class="bule">トップページです。<div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
    <%= yield %>
  <footer>
  </footer>
  </body>
</html>
