<!DOCTYPE html>
<html>
  <head>
    <title>Urania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="input_form" class="input_form">
<form name="fortune" action="?rp=1" method="post" onsubmit="return Validator.submit(this);">
<div class="input_question">◆あなたの誕生月と血液型を入力してください</div>
<p><select id="zap_year1" name="input_year" onchange="checkMaxDay1();" onblur="Validator.check(this);"><option value="">----</option>
</select> 月 <select id="zap_day1" name="input_day" onblur="Validator.check(this);"><option value="">--</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<p><select id="zap_year2" name="input_blad" onchange="checkMaxDay1();" onblur="Validator.check(this);"><option value="">----</option>
</select> 血液型 <select id="zap_day1" name="input_day" onblur="Validator.check(this);"><option value="">--</option>
<option value="A">A</option>
<option value="B">B</option>
<option value="O">O</option>
<option value="AB">AB</option>
<div><input class="input_submit" type="submit" value="占う"><br>
<input type="hidden" name="platform" value="6"><input type="hidden" name="status" value="f"></div>
</form>
</div>
      <% if current_user %>
      
      <% end %>
  
    <%= yield %>
      <footer>
        <p>(c)copy right</p>
      </footer>  
  </body>
</html>
